Instructions:

* You will be given a set of Python functions that contain errors, incomplete code, or incorrect logic.
* Your task is to identify and fix the issues in each function to make them work correctly and produce the desired output.
* Start by running the code as it is and observe the error messages or incorrect output.
* Use your Python knowledge and reasoning skills to analyze the code and identify potential issues or mistakes.
* If you are unable to identify the problem, utilize the power of ChatGPT to seek assistance in understanding the error or bug.
* Ask ChatGPT specific questions about the code, such as what the error message means or what a particular line of code does.
* Once you have identified the problem, devise a solution or write code to fix the issue.
* odify the code to address the error, incomplete code, or incorrect logic that you have identified.
* Run the corrected code to ensure it produces the desired output without any errors.
* Document your findings and the steps you took to fix the code.
* Repeat the process for each function provided in the assignment.
* Test your fixed functions with different test cases to verify their correctness and functionality.

Finally, submit your corrected code and documentation explaining the errors and fixes you made for each function.

Note: It's important to understand and learn from the errors and mistakes in the code. Focus on the concepts and techniques used in Python programming, and use ChatGPT as a helpful tool to guide your problem-solving process.



## Q1 The function reverse_string takes a string as input and returns the reversed version of the input string.

Test Cases:

reverse_string("aicamp") should return "pmacia" (reversed version of the input string).

reverse_string("Hello, World!") should return "!dlroW ,olleH" (reversed version of the input string).

reverse_string("12345") should return "54321" (reversed version of the input string).

In [ ]:
def reverse_string(string):
    reversed_str = ""
    reversed_str += string[::-1]
    return reversed_str

# Intended Output
# reverse_string("Python") should return "nohtyP"

reverse_string("Python")

'nohtyP'

## Q2 The function factorial takes an integer n as input and returns the factorial of n, which is the product of all positive integers from 1 to n.

Test Cases:

factorial(5) should return 120 (5! = 5 x 4 x 3 x 2 x 1 = 120).
factorial(0) should return 1 (0! is defined to be 1).
factorial(10) should return 3628800 (10! = 10 x 9 x 8 x 7 x 6 x 5 x 4 x 3 x 2 x 1 = 3628800).

In [ ]:
def factorial(n):
    result = 1
    if n == 0:
        return 1
    else:
        for i in range(n):
            result *= (i + 1)
        return result

# Intended Output
# factorial(5) should return 120

factorial(5)

120

## Q3 The function calculate_average takes a list of numbers as input and returns the average of those numbers

Test Cases:

calculate_average([1, 2, 3, 4, 5]) should return 3.0 (average of 1, 2, 3, 4, 5 is 3.0).
calculate_average([10, 20, 30, 40, 50]) should return 30.0 (average of 10, 20, 30, 40, 50 is 30.0).
calculate_average([2, 4, 6, 8, 10]) should return 6.0 (average of 2, 4, 6, 8, 10 is 6.0).

In [ ]:
def calculate_average(numbers):
    total = 0
    for num in numbers:
        total += num
    average = total / (len(numbers))
    return average

# Intended Output
# calculate_average([1, 2, 3, 4, 5]) should return 3.0
calculate_average([1, 2, 3, 4, 5])

3.0

## Q4 The function is_prime takes an integer n as input and checks whether it is a prime number or not. It returns True if n is prime, and False otherwise.

Test Cases:

is_prime(7) should return True (7 is a prime number).
is_prime(10) should return False (10 is not a prime number, it is divisible by 2 and 5).
is_prime(23) should return True (23 is a prime number).

In [ ]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

# Intended Output
# is_prime(7) should return True
is_prime(7)

True

## Q5 ## Q5 The function find_common_elements takes two lists, list1 and list2, as input and returns a new list containing the common elements found in both lists.

Test Cases:

find_common_elements([1, 2, 3, 4, 5], [4, 5, 6, 7, 8]) should return [4, 5] (4 and 5 are common elements in both lists).
find_common_elements([10, 20, 30], [30, 40, 50]) should return [30] (30 is the common element in both lists).
find_common_elements([1, 2, 3], [4, 5, 6]) should return an empty list [] (there are no common elements between the lists).

In [ ]:
def find_common_elements(list1, list2):
    common_elements = []
    for i in range(len(list1)):
        if list1[i] in list2:
            common_elements.append(list1[i])
    return common_elements


# Intended Output
# find_common_elements([1, 2, 3, 4, 5], [4, 5, 6, 7, 8]) should return [4, 5]
find_common_elements([1, 2, 3, 4, 5], [4, 5, 6, 7, 8])

[4, 5]

## Q6 The function remove_duplicates takes a list lst as input and returns a new list containing only the unique elements from the input list, removing any duplicates.

Test Cases:

remove_duplicates([1, 2, 2, 3, 4, 4, 5]) should return [1, 2, 3, 4, 5] (removing the duplicate elements 2 and 4 from the input list).
remove_duplicates([10, 20, 30, 20, 40, 50, 30]) should return [10, 20, 30, 40, 50] (removing the duplicate elements 20 and 30 from the input list).
remove_duplicates([1, 1, 1, 1, 1]) should return [1] (removing all duplicates of the element 1 from the input list, resulting in a list with a single element).

In [ ]:
def remove_duplicates(lst):
    unique_lst = []
    for i in range(len(lst)):
        if lst[i] not in unique_lst:
            unique_lst.append(lst[i])
    return unique_lst

# Intended Output
# remove_duplicates([1, 2, 2, 3, 4, 4, 5]) should return [1, 2, 3, 4, 5]
remove_duplicates([1, 2, 2, 3, 4, 4, 5,])

[1, 2, 3, 4, 5]

## Q7 The function calculate_total_score takes a list of dictionaries scores_list as input, where each dictionary represents the scores of players. It calculates the total score for each player and returns a dictionary with player names as keys and their total scores as values.

input:
scores_list = [{'John': 10}, {'Alice': 15}, {'Bob': 12}, {'John': 5}]
output:
{'John': 15, 'Alice': 15, 'Bob': 12}

In [ ]:
def calculate_total_score(scores_list):
    """
    Calculates the total score for each player and returns a dictionary
    with player names as keys and their total scores as values.
    """
    total_scores = {}
    for scores in scores_list:
        for player, score in scores.items():
            if player in total_scores:
                total_scores[player] += score
            else:
                total_scores[player] = score
    return total_scores

# Test case with array of dictionaries
scores_list = [{'John': 10}, {'Alice': 15}, {'Bob': 12}, {'John': 5}]
calculate_total_score(scores_list)

{'John': 15, 'Alice': 15, 'Bob': 12}

## Q8 The function get_even_numbers takes an integer n as input and returns a list of even numbers from 1 to n (inclusive). However, there is a conceptual error in the implementation where odd numbers are being appended to the list instead of even numbers.

Example:
input:
n = 10
even_numbers = get_even_numbers(n)
print(even_numbers)

output: [2, 4, 6, 8, 10]

In [ ]:
def get_even_numbers(n):
    """
    Returns a list of even numbers from 1 to n (inclusive) with a bug.
    """
    even_numbers = []
    for x in range(1, n + 1):
        if x % 2 == 0:
            even_numbers.append(x)
    return even_numbers

n = 10
even_numbers = get_even_numbers(n)
print(even_numbers)

[2, 4, 6, 8, 10]


## Q9 The function counts the occurance of an element in a list
Example:

my_list = [1, 2, 3, 4, 4, 4, 5]
target_element = 4

my_list = [1, 1, 1, 1, 1, 1, 1]
target_element = 1

my_list = [2, 2, 2, 2, 2]
target_element = 3

In [ ]:
def count_occurrences(lst, element):
    count = 0
    for i in range(len(lst)):
        if lst[i] == element:
            count += 1

    return count

my_list = [1, 2, 3, 4, 4, 4, 5]
target_element = 4
occurrences = count_occurrences(my_list, target_element)
print(f"The element {target_element} occurs {occurrences} times in the list.")

The element 4 occurs 3 times in the list.

##10. Implement the word_frequency function to solve this problem. You can assume that the input list will always contain at least one word.

Example:

word_list = ["apple", "banana", "cherry", "apple", "banana", "apple"]
result = word_frequency(word_list)

word_list = ["cat", "dog", "cat", "cat", "dog"]
result = word_frequency(word_list)

word_list = ["hello", "world", "hello", "hello", "hello"]
result = word_frequency(word_list)

In [ ]:
def word_frequency(word_list):
    frequency = {}

    for word in word_list:
        if word in frequency:
            frequency[word] += 1
        else:
            frequency[word] = 1

    return frequency

word_list = ["apple", "banana", "cherry", "apple", "banana", "apple"]

result = word_frequency(word_list)
print(result)

{'apple': 3, 'banana': 2, 'cherry': 1}